{% extends 'base.html' %}
{% load static %}   
{% block title %} Dining {% endblock title %}

{% block content %}
<!-- TOP IMAGE HEADER -->
<section class="topSingleBkg topPageBkg">
    <div class="item-content-bkg">
        <div class="item-img"  style="background-image:url('{% static 'image/banner/dining.webp' %}');" ></div>
        <div class="inner-desc">
            <h1 class="post-title single-post-title">Coming Soon. . .</h1>
            <!-- <span class="post-subtitle"> Enjoy one of our delicious plates</span> -->
        </div>
    </div>
</section>

{% endblock content %}